@using StoresManager.Entities
@model StoresManager.ViewModels.Home.IndexVM 
@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "HOME";
}


<fieldset>

    <legend>SEARCH</legend>
    <form action="/Home/Search"  method="get">
        <div class="grid">
            <div class="row">                
                <div class="col-2">
                    @Html.TextBoxFor(m => m.Input)
                </div>
                <div class="col-1">
                    <input type="submit" class="right" value="Search" />
                </div>
            </div>
        </div>
    </form>

    <div class="grid">
        <div class="row">
            <div class="col-1 bold-text">Product</div>
            <div class="col-2 bold-text">Brand</div>
            <div class="col-1 bold-text">Base Price</div>
            <div class="col-1 bold-text">Current Price</div>
            <div class="col-1 bold-text">Sale</div>
            <div class="col-1 bold-text">Chain</div>
            <div class="col-2 bold-text">Address</div>
        </div>
        @foreach (StoreToProduct item in Model.Items)
        {
            <div class="row box">
                <div class="col-1">@item.Product.Name</div>
                <div class="col-2">@item.Product.Brand</div>
                @if (item.BasePrice == item.LoweredPrice)
                {
                    <div class="col-1"></div>
                    <div class="col-1">@item.BasePrice</div>
                    <div class="col-1"></div>
                }
                else
                {
                    <div class="col-1"><s>@item.BasePrice</s></div>
                    <div class="col-1">@item.LoweredPrice</div>
                    <div class="col-1">@((((item.BasePrice - item.LoweredPrice) / item.BasePrice) * (-100)).ToString("0.##"))%</div>

                }
                <div class="col-1">@item.Store.Chain</div>
                <div class="col-2">@item.Store.Address</div>

            </div>
        }

        <div class="row pager">
            @{
                string controller = this.ViewContext.RouteData.Values["controller"].ToString();
                string action = this.ViewContext.RouteData.Values["action"].ToString();
                int selectedIndex = 0;
                if (Model.Pager.ItemsPerPage == 3)
                {
                    selectedIndex = 0;
                }
                else if (Model.Pager.ItemsPerPage == 5)
                {
                    selectedIndex = 1;
                }
                else if (Model.Pager.ItemsPerPage == 10)
                {
                    selectedIndex = 2;
                }
            }
            <div class="col-3">
                @for (int i = 0; i < Model.Pager.PagesCount; i++)
                {
                    <a href="/@controller/@action?Pager.Page=@(i+1)&Pager.ItemsPerPage=@Model.Pager.ItemsPerPage">
                        @(i + 1)
                    </a>
                }

                <script>
                    function ddlItemsPerPage_OnChange() {

                        let control = document.getElementById("ddlItemsPerPage");
                        document.location.href = "/@controller/@action?Pager.ItemsPerPage=" + control.value;
                    }

                    window.addEventListener('load', (event) => {
                        document.getElementById("ddlItemsPerPage").selectedIndex = @selectedIndex;
                    });
                </script>
                <select id="ddlItemsPerPage" onchange="ddlItemsPerPage_OnChange()">
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
    </div>

</fieldset>