@model StoresManager.ViewModels.Offers.CreateVM
@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "CREATE OFFER";
}

<fieldset>
    <legend>CREATE OFFER</legend>
    <form action="/Offers/Create" method="post">
        @Html.HiddenFor(m => m.Id)
        <div class="grid">
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.StoreId)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.StoreId)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.StoreId)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.ProductId)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.ProductId)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.ProductId)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.BasePrice)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.BasePrice)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.BasePrice)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.LoweredPrice)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.LoweredPrice)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.LoweredPrice)
                </div>
            </div>
            
            <div class="row">
                <div class="col-3">
                    @Html.ValidationMessage("summaryError")
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <input type="submit" class="right" value="Save" />
                    <a href="/Stores/Index" class="right">Back</a>
                </div>
            </div>
        </div>
    </form>
</fieldset>